{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>Student</title>
</head>
<body style="font-family: Verdana, Geneva, Tahoma, sans-serif;font-size: 14px;">
    <div class="container">
        <h1>Student Management System</h1>
        <hr>
        <p>This is the central hub for managing the system.</p>
        <p>Username: student-admin</p>
        <p>Password: Admin@stu123</p>
        <div style="text-align: center;">
            <a href="{% url 'login' %}" class="btn">Login</a>
            <a href="{% url 'home' %}" class="btn">Home</a>
        </div>
    </div>
</body>
</html>
